<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />

    <!--<script src="../bower_components/jquery/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../universalAngularSelect.js"></script>
    <script src="../fancyAngularCombobox.js"></script>
    <script src="example.js"></script>
</head>
<body ng-app="example">
    <div class="container" ng-controller="exampleCtrl" style="margin-top:40px">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="color-enhance">Universal angular Select</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-2">
                <div class="map-div">
                    <div universal-angular-select ng-model="mapSelections"  disabled-items="disableMapItems" reset-select="{{resetMapSelect}}" multiple="{{maxSelections}}">
                        <div ng-controller="mapController" class="map-region {{isEnabled}} {{isSelected}}" ng-repeat="location in locations" data-id="location.location"
                                ng-style="{left:location.left, top:location.top }"
                                ng-click="clickEvent($event, location.location)">
                            <div class="title">{{location.location}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-5" universal-angular-select ng-model="maxSelections" objects="selections" group-by="groupByNumSelections">
                    <div fancy-angular-combobox title="{{selectionsTitle}}" title-class="{{selectionsTitleClass}}" beautify-category="beautifyCategory"
                            get-caption="getMaxSelectionsCaption" value="{{maxSelectionsValue}}" split>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-danger" ng-model="resetMapSelect" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                        Reset select
                    </button>
                </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-success" ng-click="toggleSelectionRegionB()">
                            Toggle Selection: region B
                        </button>
                    </div>
                <div class="col-xs-12">
                    <div universal-angular-select ng-model="disableMapItems" multiple>
                        <div ng-controller="buttonsController" class="btn-group" style="margin-top:150px">
                            <label class="btn btn-primary" ng-model="checkModel.A" ng-click="buttonClick($event, 'A')" uib-btn-checkbox>Disable A</label>
                            <label class="btn btn-primary" ng-model="checkModel.B" ng-click="buttonClick($event, 'B')" uib-btn-checkbox>Disable B</label>
                            <label class="btn btn-primary" ng-model="checkModel.C" ng-click="buttonClick($event, 'C')" uib-btn-checkbox>Disable C</label>
                            <label class="btn btn-primary" ng-model="checkModel.D" ng-click="buttonClick($event, 'D')" uib-btn-checkbox>Disable D</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="color-enhance">Selected regions: {{mapSelections}}</h1>
                <h1 class="color-enhance">Number of selections: {{maxSelections}}</h1>
            </div>
        </div>
    </div>
</body>
</html>
