<!DOCTYPE html>
<html>
<head>

    <style>
        .code-level-2 {
            margin-left:3em;
            margin-top:-10px;
            margin-bottom:-10px
        }
        .tab-content .tab-pane {
            border: 2px solid #a1a1a1;
            padding: 10px 40px; 
            background-color: whitesmoke;
            height: 280px;
            border-radius: 25px;
        }
        .color-enhance {
            color: blue;
        }
        .space-down {
            margin-top: 10px;
        }
    </style>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="bootstrap.css" rel="stylesheet" />

    <script src="jquery.min.js"></script>
    <script src="bootstrap.js"></script>
    <script src="angular.min.js"></script>
    <script src="../betterAngStrapSelect.js"></script>
    <script src="example.js"></script>
</head>
<body ng-app="example">
    <div class="container" ng-controller="exampleCtrl" style="margin-top:40px">
        <div class="row">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="color-enhance">A bootstrap based alternative angular select with ng-model support</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            <br />
                            The dropdownSelect directive is an <b>attribute</b> only directive. <br /><br />

                            Proerties of the directive: <br /><br />

                            <b><i>title:</i></b> The title of the select input control (will also appear as first list element). <br />

                            <b><i>title-class:</i></b> Since the control is based on a bootstrap dropdown, you must provide a bootstrap button class
                            such as "btn-default", "btn-success" etc. <br />

                            <b><i>options:</i></b> The array of objects whose proprties you wish to include in the select. <br />

                            <b><i>caption:</i></b> The property name whose values are presented to the user in the select elements list. <br />

                            <b><i>value:</i></b> The property name whose value is set in the ng-model when the user select a list element. <br />

                            <b><i>group-by (optional):</i></b> The property by used to group list elements into different groups. When the select control opens,
                            the value of the group-by-property is listed as an-unselectable list item (in a special css class) before any
                            of the list items in the group <br /><br />

                            providing thermal response to the user: <br />
                            <b><i>selectedClass (optional):</i></b> A hidden property that is looked up in the object representing a selection.
                            if such a property is found when the object is selected by the user, then the value of this property will replace
                            the value of <b><i>title-class</i></b>. This enable you to let the user know that this option is valid, but not recommended.
                            The second control provide such an example. <br /><br />

                            The following control shows a dropdown select whose list elements, countries, are grouped in continents.
                            When you make a selection, the continent of the selected country is presented on the right as it is assgined by the ng-model
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="tab-container">
                            <ul class="nav nav-pills">
                                <li class="active"><a data-toggle="tab" href="#index-html">Index.html</a></li>
                                <li><a data-toggle="tab" href="#directive">directive</a></li>
                                <li><a data-toggle="tab" href="#controller">controller</a></li>
                            </ul>
                            <div class="tab-content space-down">
                                <div id="index-html" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div dropdown-select class="btn-group" ng-model="index"
                                                 title="Country" title-class="btn-default" options="countries" caption="country" value="index">
                                            </div>
                                        </div>
                                    <div class="col-xs-2">
                                        <p>continent: <i class="color-enhance">{{index}}</i></p>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn-group btn-primary" ng-click="addCountry()">Add country</button>
                                    </div>
                                </div>
                                </div>
                                <div id="directive" class="tab-pane">
                                    <p><u>The <b>dropdownSelect</b> directive</u></p>
                                    <xmp>
<div dropdown-select class="btn-group" ng-model="continent"
        title="Country" title-class="btn-default" options="countries" caption="country" value="continent" group-by="continent">
</div>
                                    </xmp>
                                    <p><u>Value (two way binding) of <b>dropdownSelect</b> is displayed through ng-bind</u></p>
                                    <xmp style="margin-left:1px;">
<p>continent: <i class="color-enhance">{{continent}}</i></p>
                                    </xmp>
                                </div>
                                <div id="controller" class="tab-pane">
                                    <p><u>The controller code</u></p>
                                    <code>
                                        $scope.continent; <br />

                                        $scope.countries = [ <br />
                                    </code>
                                    <div class="code-level-2">
                                        <code>
                                            { country: 'Israel', continent: 'Middle East'}, <br />
                                            { country: 'Lebanon', continent: 'Middle East' }, <br />
                                            { country: 'France', continent: 'Europe' }, <br />
                                            { country: 'England', continent: 'Europe' }, <br />
                                            { country: 'Germany', continent: 'Europe' }, <br />
                                            { country: 'Brasil', continent: 'Americas' }, <br />
                                            { country: 'United States', continent: 'Americas' } <br />
                                        </code>
                                    </div>
                                    <code>
                                        ]; <br />
                                    </code>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
